################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/RailwayTickets/FileContentIndex/53d3932c-3874-406f-b784-16ae008b7ef4.vsidx
/.vs/RailwayTickets/FileContentIndex
